*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix{
  content: '';
  dispay: table;
  clear: both;
}

.container{
  width: 1100px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}



/* ------------------------------
Blocco Search Fixed Navbar
------------------------------ */

.search{
  background-color: #f5f8fa;
  position: sticky;
  top: 0;
  z-index: 3
}

.searchbar{
  height: 80px;
  padding: 30px;

}

.searchbar-left > *{
  float: left;
  height: 100%;
  min-width: 20px;
  margin-right: 20px;
  line-height: 20px;
}

.searchbar-left{
  float: left;
  height: 20px;
}

.searchbar-right{
  float: right;
  height: 20px;
  position: relative;
}

.searchbar-image{
  height: 20px;
  position: relative;
  /* border: 1px solid red; */
}

.searchbar-image > img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#language{
  margin-right: 50px;
  padding-right: 50px;
  border-right: 1px solid #e0e6ed;
  font-size: 14px;
  color: #33475A
  /* border: none;
  margin: 0 20px;
  background: transparent;
  cursor: pointer; */
}

#sales{
  font-size: 14px;
  color: #33475A
}

#buttonone{
  width: 70px;
  height: 35px;
  color: #ff7a59;
  background-color: #fff;
  font-size: 12px;
  border-radius: 5px;
  margin: 0 10px;
  padding: 5px 5px;
  position: absolute;
  top: 50%;
  transform: translate(-400%, -50%);
  border: 1px solid #ff7a59;
}

#buttontwo{
  width: 130px;
  height: 35px;
  color: #fff;
  background-color: #ff7a59;
  font-size: 12px;
  border-radius: 5px;
  margin: 0 10px;
  padding: 5px 5px;
  position: absolute;
  top: 50%;
  transform: translate(-135%, -50%);
}



/* ------------------------------
Blocco Navbar
------------------------------ */

nav{
  background-color: #fff;
  /* border: 1px solid red; */
  /* position: sticky;
  top: 0; */
}

.navbar{
  height: 80px;
  padding: 10px;
}

.navbar-left{
  float: left;
  height: 100%;
}

.navbar-right{
  float: right;
  height: 100%;
}


.navbar-item{
  line-height: 60px;
  height: 60px;
  width: 100px;
  /* border: 1px solid red; */
  margin: 0 20px;
  display: inline-block;
  font-size: 15px;
  text-align: center;
}

.navbar-image{
  height: 100%;
  position: relative;
  /* border: 1px solid red; */
}

.navbar-left > *{    /* da rivedere perche gia inserito il float left */
  float: left;
}

.navbar-image > img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* width: 200px; */
}


/* ------------------------------
Blocco Cover
------------------------------ */

.back-cover{
  background-image: linear-gradient(to bottom left, #3ad1e9, #21708d);
  color: #ffffff;
  border-bottom: 3px solid black;
}


.cover{
  height: 600px;
  width: 100%;
  position: relative;
}

.cover-item{
  width: 40%;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

.cover-item h1{
  font-size: 50px;
  margin-bottom: 10px;
}

.cover-item p{
  font-size: 13px;
  padding: 10px 0;
  margin: 20px 0;
}

button{
  width: 220px;
  height: 70px;
  color: #33475A;
  background-color: #ffffff;
  font-size: 16px;
  padding: 10px 0;
}

/* ------------------------------
Blocco Promo - > chiedere se è corretto il tag senza ">"
------------------------------ */
.back-promo{
  background-color: #f5f8fa;
  padding: 50px 0;
}

.container-image{
  width: 100%;
  height: 200px;
  position: relative;
}


.cont-img{
  width: 260px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

.promotion > *{
  text-align: center;
  color: #33475A;
}

#news{
  margin-bottom: : 50px;
}

.back-promo h1{
  margin-bottom: 20px;
}

.back-promo h2{
  margin-bottom: 20px;
}

.back-promo p{
  margin-bottom: 10px;
}

/* ------------------------------
Blocco Product
------------------------------ */

.product{
  width: 100%;
  height: 300px;
  background-color: #fff;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 11px #eaf0f6;
  color: #33475A;
  position: relative;
  transition: 0.4s;
}

.product:hover{
transform: scale(1.05);
box-shadow: darkgrey;
}


.halfone{
  float: left;
  width: 40%;
  position: relative;
}

.halftwo{
  float: left;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
}

.product-img{
  height: 150px;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}


.button-promo{
  background-color: #ff7a59;
  width: 120px;
  height: 40px;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

/* ------------------------------
Blocco Marketing
------------------------------ */

.marketing{
  width: 100%;
  height: 600px;
}

.marketing > .marketing-left, .marketing > .marketing-central, .marketing > .marketing-right{
  float: left;
  width: 32%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 11px #eaf0f6;
  color: #33475A;
  position: relative;
  transition: 0.4s;
}

.marketing-left:hover{
  transform: scale(1.05);
  box-shadow: darkgrey;
}

.marketing-central:hover{
  transform: scale(1.05);
  box-shadow: darkgrey;
}

.marketing-right:hover{
  transform: scale(1.05);
  box-shadow: darkgrey;
}

.marketing-central{
  margin-left: 2%;
  margin-right: 2%;
}


.marketing h2{
  text-align: center;
  padding: 20px 20px;
}

.marketing p{
  padding: 0 25px;
}

.mtop{
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.fa-check-circle{
  color: #ff7a59;
  margin-right: 10px;
}


.elenco{
  padding: 0 25px;
}


/* ------------------------------
Blocco Cover Learn
------------------------------ */
.back-cover-learn{
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  color: #ffffff;
  padding: 130px 20px;
}

.learn{
  height: 700px;
  width: 100%;
  position: relative;
}

.learn-item{
  width: 100%;
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
}

.learn-item h1{
  font-size: 43px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px 30px;
}

.learn-item p{
  font-size: 20px;
  padding: 20px 30px;
  margin: 20px 50px;
  text-align: center;
}


/* ------------------------------
Blocco Griglia
------------------------------ */
.grid{
  width: 100%;
  height: 370px;
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
}

.grid-item{
  width: 25%;
  height: 185px;
  float: left;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
}

.nbr{
  border-right: none;
}

.nbb{
  border-bottom: none;
}

.grid-icon{
  margin-top: 40px;
}

.grid-item h2{
  font-size: 40px;
  margin-top: 8px;
}

.grid-item p{
  font-size: 14px;
  margin-top: 5px;
}


/* ------------------------------
Blocco information Top
------------------------------ */

/* .product-top{
  width: 100%;
  height: 300px;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  color: #33475A;
  position: relative;
}

.halfone-top{
  float: left;
  width: 40%;
  position: relative;
}

.halftwo-top{
  float: left;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
}

.product-img-top{
  height: 150px;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}


.button-promo-top{
  background-color: #ff7a59;
  width: 120px;
  height: 40px;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
} */


/* ------------------------------
Blocchi da completare
------------------------------ */

.partners:after {
    content: '';
    display: table;
    clear: both;
}

.partners{
  padding: 120px 0;
  width: 100%;
}

.partners-wrapper{
  width: 100%;
  padding: 0 50px;
  background: blue;
}

.partners-left, .partners-right {
  float: left;
  height: 100%;
}

.partners-left{
  width: 40%;
}

.partners-right{
  width: 60%;
}

.partners-left strong{
  font-size: 35px;
  margin-bottom: 10px;
}

.partners-left p{
  margin-top: 20px;
}

.partners-right img{
  display: block;
  float: left;
  margin: 20px;
  width: calc((100% / 4) - 40px)
  height: auto;
}







.button-promo2{
  background-color: #ff7a59;
  width: 120px;
  height: 40px;
  color: #fff;
  position: absolute;
  left: 33%;
  top: 88%;
}





/* ------------------------------
Blocco footer
------------------------------ */


.prefooter {
    padding: 100px 0;
    width: 100%;
}
.prefooter:after {
    content: '';
    display: table;
    clear: both;
}
.prefooter-left, .prefooter-right {
    width: 50%;
    float: left;
    height: 100%;
}
.prefooter-left h3 {
    font-size: 35px;
    margin-bottom: 50px;
}
.prefooter p {
    margin-bottom: 40px;
}
.prefooter small {
    display: block;
    margin-top: 40px;
}
.prefooter-right-image-wrapper {
    float: right;
    overflow: hidden;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background: #F2547B;
}
.prefooter-right-image-wrapper img {
    width: 100%;
}
.bottom-icon {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 30px;
    right: 30px;
    border-radius: 100%;
    background: rgb(66, 91, 118);
    line-height: 80px;
    text-align: center;
    cursor: pointer;
}
.bottom-icon i {
    vertical-align: middle;
    color: white;
    font-size: 35px;
}
footer {
    padding: 100px 0 50px;
    width: 100%;
}
.footer-head {
    width: 100%;
    height: auto;
}
.footer-head:after {
    content: '';
    display: table;
    clear: both;
}
.footer-head > div {
    float: left;
    width: calc(100% / 4);
    height: auto;
    color: white;
}
.footer-head > div ul {
    list-style: none;
}
.footer-head > div li {
    margin-bottom: 20px;
}
.footer-head > div h4 {
    margin-bottom: 10px;
}
.footer-head > div a {
    color: #cbd6e2;
    text-decoration: none;
}
.footer-head > div a.btn {
    color: #33475b;
}
.footer-head > div a i {
    margin: 0 10px;
    font-size: 20px;
}
.footer-languages {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    border-bottom: 1px solid #cbd6e2;
    padding-bottom: 50px;
}
.footer-languages a {
    color: #cbd6e2;
    text-decoration: none;
    margin: 0 20px;
}
.footer-bottom {
    width: 100%;
    margin-top: 50px;
    height: 50px;
}
.footer-bottom-left, .footer-bottom-right {
    float: left;
    width: 50%;
    height: 100%;
}
.footer-bottom-left img {
    display: block;
    margin-bottom: 10px;
}
.footer-bottom-left small {
    color: #cbd6e2;
}
.footer-bottom-right {
    text-align: right;
}
.footer-bottom-right a {
    color: #cbd6e2;
    text-decoration: none;
    font-size: 18px;
    margin: 0 20px;
}


.bg-dark-blue {
    background: #2D3E50;
}











/* ------------------------------
Clearfix
------------------------------ */
/* .clearfix{
  content: '';
  dispay: table;
  clear: both;
} */


/* ------------------------------
Blocco appunti
------------------------------ */
/* border: 1px solid red; */


/* ------------------------------
Blocco
------------------------------ */
